/* #7748ED - Light Purple */
/* #4123FD - Pastel Blue */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* Positioning */
.flex {
  display: flex;
}

.flex-w-80 {
  display: flex;
  width: 1180px;
}

.width-12per {
  width: 12.5%;
}

.width-25per {
  width: 25%;
}

.width-33per {
  width: 33.33%;
}

.width-custom {
  width: 48%;
}

.width-50per {
  width: 50%;
}

.width-66per {
  width: 66.66%;
}

.width-75per {
  width: 75%;
}

.space-vertical-sm {
  margin-top: 20px;
}

.space-vertical-md {
  margin-top: 40px;
}

.space-vertical-lg {
  margin-top: 80px;
}

.space-vertical-lg-lg {
  margin-top: 110px;
}

.space-vertical-xl {
  margin-top: 150px;
}

.space-vertical-xxl {
  margin-top: 190px;
}

.space-horizontal-sm {
  margin-left: 20px;
}

.space-horizontal-md {
  margin-left: 40px;
}

.space-horizontal-lg {
  margin-left: 80px;
}

.space-horizontal-lg-lg {
  margin-left: 110px;
}

.space-horizontal-xl{
  margin-left: 150px;
}

.space-horizontal-sm-right{
  margin-right: 30px;
}

.space-horizontal-lg-lg-left-revers{
  margin-left: -110px;
}

.position-left {
  position: relative;
  left: 1028px;
}

.position-right {
  position: relative;
  right: 100px;
}

.position-absolute {
  position: absolute;
}

.marg-left {
  margin-left: 5vh;
}

.border {
  padding-left: 27vh;
  padding-right: 27vh;
}

.wrapper {
  max-height: 230px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper::-webkit-scrollbar {
  height: 5px;
  background-color: #ddd;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #444;
}

.wrapper .card {
  line-height: 230px;
  margin-right: 7px;
}

.aligned-item {
  align-items: center;
}

.overflow-y-hid {
  overflow-y: hidden;
}

body {
  font-family: Verdana;
  overflow-x: hidden;
}

.button {
  border: none;
  color: white;
  padding: 22px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-everywhere {
  border: none;
  color: #4123fd;
  padding: 22px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-select-item {
  border: none;
  color: white;
  padding: 14px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-common {
  background-color: #4123fd;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  filter: drop-shadow(0px 2px 4px grey);
  height: 70px;
  align-items: center;
}

nav ul {
  display: flex;
  width: 45%;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li a {
  color: #7748ed;
  text-decoration: none;
}
nav ul li a:hover {
  color: #4123fd;
}

.logo {
  padding: 20vh;
  width: 50px;
}

.guest-icon {
  width: 25px;
  padding-right: 20vh;
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  nav ul {
    display: none;
    width: 50%;
  }
}

/* carousel */
#container-carousel {
  margin-top: 60px;
  width: 1330px;
}

#slider {
  overflow: hidden;
  padding-left: 27vh;
  padding-right: 27vh;
}

#slider figure {
  position: relative;
  width: 370%;
  margin: 0;
  left: 0;
  animation: 20s linear infinite;
}

#slider figure img {
  width: 33.33%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  33% {
    left: -33%;
  }
  66% {
    left: -66%;
  }
}

/* Promo */

#promo-list {
  display: flex;
  box-sizing: border-box;
  width: 70%;
}

/* kategori */

#kategori-list {
  display: flex;
}

/* footer */

footer {
  background-color: #444444;
  width: 73.34%;
  height: 400px;
}

/* login page */
.container {
  display: flex;
}

#login-image-resize {
  width: 687px;
  height: 790px;
}

#login-image-resize2 {
  width: 840px;
  height: 790px;
}

#login-position {
  align-items: center;
  position: absolute;
}

/* text manipulation */
.set-text-white {
  color: white;
}

#promo-text-position {
  position: relative;
  text-align: center;
}

#policy {
  color: white;
  text-decoration: underline;
}

#copyright-position {
  position: relative;
  left: 800px;
}

/* sign up page */

/* promo page */
.promo-container {
  position: relative;
  margin-top: 6vh;
}

.promo-content {
  width: 48.33%;
}

/* kategori page */
.kategori-katalog {
  list-style-type: none;
  justify-content: space-between;
}

.list-space {
  margin: 10px;
}

.card {
  color: white;
  display: flex;
}

.card-seperate-vertical {
  background-color: #444444;
  height: 50%;
}

.card-seperate-horizontal {
  display: flex;
  flex-direction: column;

  width: 280px;
  background-color: #444444;
  justify-content: space-around;
  padding-left: 20px;
}

.seperator .textContent {
  margin: auto;
}

.resize-pic {
  max-width: 200px;
}

.buttonCardSperate {
  color: white;
  outline-style: solid;
  outline-width: 3px;
  background-color: rgb(0, 0, 0, 0);
  padding: 5px 10px;
  text-decoration: none;
}

/* sewa page */
.image-resize {
  width: 280px;
  height: 230px;
}

/* about page */
.sections {
  max-width: 800px;
}

.oneAbout {
  margin-top: 3px;
}

/* studio */
.container-studio {
  position: flex;
  background-color: #f3f3f3;
  width: 170vh;
  height: 40vh;
}

.p-name {
  font-size: 25px;
}

.btn{
  background-color: #4123fd;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.image-resize-studio{
  width: 80px;
  padding-right: 20vh;
}

.garis-studio{
  max-width: 50px;
  min-height: 7px;
  background-color: #4123fd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 5px;
}