/* #7748ED - Light Purple */
/* #4123FD - Pastel Blue */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* Positioning */
.flex {
  display: flex;
}

.width-12per {
  width: 12.5%;
}

.width-25per {
  width: 25%;
}

.width-33per {
  width: 33.33%;
}

.width-50per {
  width: 50%;
}

.width-66per {
  width: 66.66%;
}

.width-75per {
  width: 75%;
}

.space-vertical-sm {
  margin-top: 20px;
}

.space-vertical-md {
  margin-top: 40px;
}

.space-vertical-lg {
  margin-top: 80px;
}

.space-vertical-xl {
  margin-top: 150px;
}

.position-left {
  position: relative;
  left: 1028px;
}

.position-right {
  position: relative;
  right: 100px;
}

.border {
  padding-left: 27vh;
  padding-right: 27vh;
}

body {
  font-family: Verdana;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  filter: drop-shadow(0px 2px 4px grey);
  height: 70px;
  align-items: center;
}

nav ul {
  display: flex;
  width: 45%;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li a {
  color: #7748ed;
  text-decoration: none;
}
nav ul li a:hover {
  color: #4123fd;
}

.logo {
  padding: 20vh;
  width: 50px;
}

.guest-icon {
  width: 25px;
  padding-right: 20vh;
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  nav ul {
    display: none;
    width: 50%;
  }
}

/* carousel */
#container-carousel {
  margin-top: 60px;
  width: 1330px;
}

#slider {
  overflow: hidden;
  padding-left: 27vh;
  padding-right: 27vh;
}

#slider figure {
  position: relative;
  width: 370%;
  margin: 0;
  left: 0;
  animation: 20s linear infinite;
}

#slider figure img {
  width: 33.33%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  33% {
    left: -33%;
  }
  66% {
    left: -66%;
  }
}

/* Promo */

#promo-list {
  display: flex;
  box-sizing: border-box;
}

/* kategori */

#kategori-list {
  display: flex;
}

/* footer */

footer {
  background-color: #444444;
  width: 73.34%;
  height: 400px;
}

/* login page */
.container {
  display: inline-flex;
}

#login-image-resize {
  width: 687px;
  height: 790px;
}

#login-image-resize2 {
  width: 840px;
  height: 790px;
}

#login-position {
  align-items: center;
  position: absolute;
}

/* text manipulation */
.set-text-white {
  color: white;
}

#promo-text-position {
  position: relative;
  left: 500px;
}

#policy {
  color: white;
  text-decoration: underline;
}

#copyright-position {
  position: relative;
  left: 800px;
}

/* sign up page */

/* promo page */
.promo-container {
  position: relative;
  margin-top: 6vh;
}

.promo-content {
  width: 33.33%;
}

/* kategori page */
.kategori-katalog {
  list-style-type: none;
  justify-content: space-between;
}

.list-space {
  margin: 10px;
}

.card {
  color: white;
}

.card-seperate {
  background-color: #444444;
}

.resize-pic {
  width: 200px;
}
